<header class="header">
    <div class="header__inner">
        <a class="logo" href="/">Доставка квітів</a>
        <nav class="nav">
            <% if (headerType === 'guest') { %>
                <a href="/login">Увійти</a>
                <a href="/register">Реєстрація</a>
            <% } else if (headerType === 'admin') { %>
                <a href="/">На сайт</a>
                <a href="#">Панель адміністратора</a>
                <a href="#">Керування товарами</a>
                <a href="/logout">Вийти</a>
            <% } else if (headerType === 'warehouse_worker') { %>
                <a href="/">На сайт</a>
                <a href="#">Замовлення складу</a>
                <a href="#">Статуси доставки</a>
                <a href="/logout">Вийти</a>
            <% } else { %>
                <a href="/">Каталог</a>
                <a href="#">Кошик</a>
                <a href="#">Мої замовлення</a>
                <a href="/logout">Вийти</a>
            <% } %>
        </nav>
    </div>
</header>
